@media print {
    @page {
        size: 85.6mm 53.98mm;
        margin: 0;
    }

    body {
        margin: 0;
        padding: 0;
    }

    body>*:not(.print-container) {
        display: none;
    }

    .print-container {
        display: block !important;
        width: 100%;
        height: 100%;
    }
}